<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mollis tellus ac facilisis vestibulum. Cras risus orci, luctus luctus turpis eu, consequat ultricies felis. Nunc congue gravida tellus, id aliquet eros faucibus nec. Suspendisse magna nisi, mollis at mi a, mollis vehicula neque. Suspendisse et ullamcorper sapien. Donec fermentum arcu nisl, sed ornare leo mattis eget. Aenean id ultrices felis, ac dignissim orci. Morbi mollis ante vitae urna mattis, ut blandit mauris consequat. Nulla tortor neque, rhoncus non vehicula at, eleifend et mi. Donec nec magna ultricies, aliquet lorem vel, auctor lorem. Sed mattis purus ex, at mollis urna semper quis. Morbi lacinia pellentesque tellus, ut pretium lorem accumsan a. Sed nec placerat tellus, congue maximus felis. 
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email@email.com</li>
                <li><i class="fa-solid fa-phone"></i> (00) 0000-0000</li>
                <li><i class="fa-brands fa-whatsapp"></i> (00) 0-0000-0000</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>